.table th, .table td {
    text-align: center;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.table-container {
    width: 60%;
    margin-left: 1.5rem;
}

.select-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.vertical{
    border-left: solid #000000;
    max-height: 2.5rem;
}

.imagen {
    width: 30%;
    border-radius: 50%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-body {
    text-align: center;
}