/**
* @author María Victoria Huesca Peláez
*/

.container-asignarEntrenadorFuerza {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parent-container-asignarEntrenadorFuerza {
    background-color: #f8f9fa;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-asignarEntrenadorFuerza{
    display: flex;
    flex-direction: column;
}

.boton-asignarEntrenadorFuerza{
    width: 100%;
    align-self: center;
}