body{
    overflow: hidden;
}
.container-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-image: url('/Images/Administrador/fondoInicioAdministrador.jpg');
    background-size: cover;
    background-position: center;
}