body{
    overflow: hidden;
}
.container-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-image: url('../../Images/Administrador/fondoInicioAdministrador.jpg'); /* Reemplaza '/ruta/a/tu/imagen.jpg' con la ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el div */
    background-position: center; /* Centra la imagen de fondo en el div */
}