.parent-container-registroTipoUsuario {
    background-color: #f8f9fa;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container-registroTipoUsuario{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group-registroTipoUsuario{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.miForm-control-registroTipoUsuario{
    padding: 1vh;
}

.btn-continuar-RegistroTipoUsuario{
    margin-top: 2vh;
}
